body{
    margin: 0;
    padding: 0;
      background-color:  rgb(21, 17, 41);
    overflow: hidden;
}
.header{
  width: 100vw;  
 
color: white;
display: grid;
place-items: center;
padding: 10px;
}
.main-title{
    font-size: 2rem;
}
.subtitle{
    font-size: 1.4rem;
}
 .container{
    width: 100vw;
    grid-auto-rows: calc(80%);
display: grid;
grid-template-columns: repeat(auto-fill, minmax(min(100%,500px),1fr));

      
 }
 .col-resultado{
    padding: 10px;
 }

.row-comunidad{
   width: 100%;
   margin: 10px;

}
.tittle{
    font-size: 1.1rem;
    color: white;
}
.progress-bar{
    height: 13px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 5px;

}
.progress{
    background-image:linear-gradient(90deg, blue,cyan),linear-gradient(45deg,red,violet);
    width: 0px;
    height: 13px;
    border-radius: 5px;
    max-width: 100%;
}
.votos{
    font-size: 1.2rem;
    color: white;
}

 .col-comunidades{
 
    display: grid;   
    place-items: center;
    grid-template-columns: repeat(2, 1fr);

 }
.btn-options{
    padding: 8px 12px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(40, 40, 233);
    color: white;
}
.btn-options:hover{
    cursor: pointer;
    background-color: red;
    
}
